body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0a1f44, #1a1a2e);
    color: white;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid red;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
}

header h1 {
    background: rgba(0,0,0,0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #0f3460, #e94560);
    padding: 10px;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
.nav-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background: linear-gradient(145deg, #1f6feb, #ff2e63);
    transition: 0.3s;
}

.nav-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 46, 99, 0.8);
}

main {
    padding: 40px;
    max-width: 100%;
    margin:30px;
    background: rgba(255,255,255,0.05);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transition: all 0.4s ease;

    text-align: center;
}

h2 {
    color: #ff2e63;
}

